
.jbm-body-default
{
  margin: 0;
  background-color: #F8F8F8;
  font-family: sans-serif;
  font-size: 10pt;
}

.jbm-header-div
{
  width: auto; 
  float: top;
  height: 140px;
  background-image: url(https://jbm-ballistics.github.io/jbm-ballistics-apps/assets/graphics/header_background.png); 
  background-position: 0px -180px;
  background-repeat: no-repeat;
  background-color: #C0C0C0;
}

.jbm-header-links-div
{
  padding-top: 100px;
  padding-left: 180px;
  width: auto; 
  height: auto;
  font-size: 12px; 
  color: #C0C0C0; 
  float: left;
  bottom:0;
  height: 40px;
  background-color: transparent;
}

.jbm-header-link:active
{
  color: #C0C0C0;
  text-decoration: none;
}

.jbm-header-link:hover
{
  color: #C0C0C0;
  text-decoration: none;
}

.jbm-header-link:visited
{
  color: #C0C0C0;
  text-decoration: none;
}

.jbm-copyright-div
{
  position: relative;
  color: #A0A0A0;
  font-size: 7pt;
}

.jbm-content-div
{
	margin: 8;
}
